html,
body {
  margin: 0;
}

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
  color: #333;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
}

.instructions {
  color: #0065a4;
}
